@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Roboto:wght@300;400;500&display=swap');

#main .label, #main .button, #main .text {
	-fx-font-family: 'JetBrains Mono', monospace;
}


#namePodcast, #timePodcast, #descPodcast, #alert {
	-fx-font-size: 18px;
	-fx-font-family: 'JetBrains Mono', monospace;
}


#openButton {
	-fx-font-size: 24px;
}



.list-cell {
	-fx-font-size: 24px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: "#3F2863";
    -fx-text-fill: white; /* 5 */
}
.list-cell { -fx-text-fill: black; /* 5 */ }
.list-cell:odd { -fx-background-color: #E3D6F5; /* 1 */ }
.list-cell:even { -fx-background-color: #fff; /* for information */ }
.list-cell:filled:hover { 
    -fx-background-color: "#2A1C42"; /* 2 */
    -fx-text-fill: white; /* 5 */
}