@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Roboto:wght@300;400;500&display=swap');


#podcastName, #levelPodcast, #lengthPodcast, #completedTime, #date {
	-fx-font-family: 'JetBrains Mono', monospace;
	-fx-text-fill: "#f1f5f8";
	-fx-font-size: 28px;
}


#score {
	-fx-font-family: 'JetBrains Mono', monospace;
	-fx-text-fill: "#f1f5f8";
	-fx-font-size: 60px;
}

#listenAgainButton {
	-fx-font-size: 28px;
}
