@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Roboto:wght@300;400;500&display=swap');

.container {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-background-radius: 20;
}

#lineChart {
	-fx-background-color: transparent;
	
}

.axis {
	-fx-stroke: #f1f5f8;
	-fx-fill: #f1f5f8;
	-fx-font-size: 24px;
	-fx-tick-label-fill: #f1f5f8;
}

.labelText {
	-fx-font-family: 'JetBrains Mono', monospace;
	-fx-text-fill: #f1f5f8;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 10, 0.5, 0.0, 0.0);
}



#choiceBox {
	-fx-font-size: 18px;
}