#scrollPane {
	-fx-background: #2f2b43;
	-fx-border-color: #2f2b43;
}

#listHistory {
	-fx-background-color: transparent;
}
#button1,#button2,#button3,#button4,#button5,#button6,#button7 {
	-fx-font-size: 24px;
}
